.launcher_button {
  @include button(9999px, 8px, 4px, 0, 0, 4px);
}

.workspaces {
  background-color: $bg-color;
  border-radius: 24px;
  margin-top: 4px;
  margin-left: 4px;
  padding: 14px;
  button {
    border-radius: 9999px;
    transition: padding 0.3s cubic-bezier(0.5, 2.0, 0.3, 1), background-color 0.3s ease;
  }
  button.active {
    background-color: $primary;
    padding: 4px 36px;
  }
  button.inactive {
    background-color: $disabled;
    padding: 4px;
  }
}

.cava-visualizer {
  margin-left:  5;
  font-family: "monospace";
  font-size: 10px;
  letter-spacing: 1px;
  color:  #cfb6fb;
  text-shadow: 0 0 6px rgba(#cfb6fb, 0.5);
  margin-top: 10px;
  text-shadow: 0 0 3px #cfb6fb;
}

.cava_box {
  @include box(16px, 8px, 16px, 4px, 4px, 0, 0);
}

.clock_box {
  @include box(16px, 8px, 16px, 4px, 4px, 0, 0);
}

.battery_box {
  @include box(16px, 8px, 16px, 4px, 4px, 0, 0);
  padding-left: 12px;
}

.notification_button {
  @include button(9999px, 8px, 4px, 4px, 0, 0);
}
